In [1]:
def is_big_month(month):
    if month in (1,3,5,7,8,10,12):
        return True
    else:
        return False

In [2]:
is_big_month(1)

True

In [17]:
def layout(first,d):
    frame = 42*[" "]
    #if first == 0:
    #    first = 7
    j = first
    for i in range(1,d+1):
        frame[j] = i
        j = j+1
    return frame

frame = layout(2,31)

In [18]:
frame

[' ',
 ' ',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ']

In [19]:
def print_month(frame):
    for i in range(42):
        print("%3s" %(frame[i]),end=' ')
        if (i+1)%7 == 0:
            print("\n")

In [20]:
print_month(frame)

          1   2   3   4   5

  6   7   8   9  10  11  12

 13  14  15  16  17  18  19

 20  21  22  23  24  25  26

 27  28  29  30  31

In [1]:
print(f"{'left':<10}")  # 左对齐，宽度10
print(f"{'right':>10}")  # 右对齐，宽度10
print(f"{'center':^10}")  # 居中对齐，宽度10

left
     right
  center

In [7]:
def print_title(title,total_width):
    print(f"{title:^{total_width}}")

In [10]:
print_title(12,30)

              12

In [12]:
def print_list_with_fixed_width(lst, width):
    # 使用列表推导式格式化每个元素
    formatted_elements = [f"{item:^{width}}" for item in lst]
    # 将格式化后的元素用空格连接并打印
    print(" ".join(formatted_elements))

In [13]:
def print_body(data,row,col,width):
    """
    也就是重复调用row行数次打印每一行
    """
    for i in range(row):
        data_i = data[i*col:(i+1)*col]
        print_list_with_fixed_width(data_i, width)

In [15]:
data = []
for i in range(42):
    data.append(i)

In [18]:
print_body(data,6,7,5)

  0     1     2     3     4     5     6
  7     8     9    10    11    12    13
 14    15    16    17    18    19    20
 21    22    23    24    25    26    27
 28    29    30    31    32    33    34
 35    36    37    38    39    40    41

# calender 单元测试

In [1]:
from calender import *

In [3]:
is_leapyear(1900)

0

In [4]:
is_leapyear(2000)

1

In [5]:
is_leapyear(2012)

1

In [7]:
year = get_year()

In [8]:
year

'1921'

In [10]:
type(year)

str

In [11]:
int(year)

1921

In [12]:
days(1900,1)

31

In [13]:
days(1900,2)

28

In [14]:
days(2000,1)

31

In [15]:
days(2024,4)

30

In [2]:
data = month_data(0,31)

In [3]:
data

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ']

In [4]:
w = first_day(2025)

In [5]:
w

3